<html>
    <head>
        <title>add article</title>
        <link rel="stylesheet" href="../src/style.css">
    </head>
    <body>
        <h1 class="bg-amber-500 text-gray-800">form add article</h1>
        <form action="/article/add" method="post">
            <input type="text" name="title" placeholder="title" />
            <input type="text" name="content" placeholder="content" />
            <input type="file" name="image" placeholder="image"
            accept="image/png, image/jpeg, image/jpg"
             />
            <button type="submit" name="add">Add Article</button>
        </form>
    </body>
</html>