<html>
    <head>
        <title>add article</title>
        <link rel="stylesheet" href="../src/style.css">
    </head>
    <body>
        <h1 class="bg-amber-500 text-gray-800">form add article</h1>
        <form action="">
            <input type="text" name="title" placeholder="title" />
            <input type="text" name="content" placeholder="content" />
            <input type="text" name="author" placeholder="author" />
            <input type="text" name="category" placeholder="category" />
            <button type="submit" name="add" value="add"> add</button>
        </form>
    </body>
</html>