<!-- do some html-->
<html>
    <head>
        <title>My First PHP Page</title>
    </head>
    <body>
<!--        use ejs-->
        <h1>hello</h1>
        <form>
            
        </form>
    </body>
</html>