<h1>this is login</h1>

<form action="/auth/login" method="post">
    <label for="">email</label><br>
    <input type="text" name="email"><br>
    <label for="">password</label><br>
    <input type="text" name="password">
    <input type="submit" value="Login">
</form>
<a href="/auth/register">go to register</a>