<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog-info</title>
    <!-- <link rel="stylesheet" href="src/style.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../src/authStyle.css">
</head>

<body>


    <div class="body">
        <!-- Your registration form -->
        <form action="/auth/signup" method="post">
            <label for="">name</label><br>
            <input type="text" class="bg-slate-300" name="name"><br>
            <label for="">email</label><br>
            <input type="text" class="bg-slate-300" name="email"><br>
            <label for="">password</label><br>
            <input type="text" class="bg-slate-300" name="password">
            <input type="submit" value="Register">
        </form>
    </div>

</body>

</html>