<h1>this is the register</h1>


<form action="/auth/signup" method="post">
    <label for="">name</label><br>
    <input type="text" name="name"><br>
    <label for="">email</label><br>
    <input type="text" name="email"><br>
    <label for="">password</label><br>
    <input type="text" name="password">
    <input type="submit" value="Register">
</form>