<div
  class="container px-8 mx-auto xl:px-5 max-w-screen-lg py-5 lg:py-8 mt-10 border-t border-gray-100 dark:border-gray-800"
>
  <div class="text-center text-sm">
    Copyright © 2023 Stablo. All rights reserved.
  </div>
  <div
    class="mt-1 flex justify-center gap-1 text-center text-sm text-gray-500 dark:text-gray-600"
  >
    <span>
      Made by
      <a
        href="https://web3templates.com/?ref=stablo-template"
        rel="noopener"
        target="_blank"
        >Web3Templates</a
      ></span
    ><span>·</span
    ><span>
      <a
        href="https://github.com/web3templates/stablo"
        rel="noopener"
        target="_blank"
        >Github</a
      ></span
    >
  </div>
</div>
